# Dependencias
node_modules/

# Variables de entorno
.env


# Sesiones de WhatsApp
whatsapp_session/

# Archivos subidos
public/uploads/
!public/uploads/.gitkeep

# Mantener estructura de directorios
!public/uploads/**/.gitkeep

# Archivos CSS (excepto librerías)
*.css
# Permitir librerías de terceros
!public/js/**/fullcalendar*/**/*.css
!public/js/**/lib/**/*.css

.vscode