# Ignorar dependencias
/node_modules/

# Ignorar variables de entorno

.env



/whatsapp_session/*

# Ignorar archivos subidos (PDFs/QRs)
public/uploads/receipts/*
public/uploads/qrs/*
public/uploads/rooms/qr/rentas/*
public/uploads/rooms/qr/reservaciones/*
public/uploads/rooms/pdf/rentas/*
public/uploads/rooms/pdf/reservaciones/*

# Mantener placeholders
!public/uploads/receipts/.gitkeep
!public/uploads/qrs/.gitkeep
!public/uploads/rooms/qr/rentas/.gitkeep
!public/uploads/rooms/qr/reservaciones/.gitkeep
!public/uploads/rooms/pdf/rentas/.gitkeep
!public/uploads/rooms/pdf/reservaciones/.gitkeep
# Ignorar archivos CSS generados automáticamente, pero permitir librerías
# *.css
!public/styles.css
!public/css/all.min.css
*.css
*.css
*.pdf
/public
/public
