<form action="/password-reset/request" method="POST" class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md sm:max-w-sm md:max-w-lg lg:max-w-xl">
  <label for="username" class="block text-gray-700 font-medium mb-2">Nombre de usuario:</label>
  <input
    type="text"
    id="username"
    name="username"
    required
    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
  >
  <button
    type="submit"
    class="w-full mt-4 bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-200"
  >
    Generar enlace de recuperación
  </button>

  {{#if error}}
    <p class="mt-4 text-red-500 text-sm">{{error}}</p>
  {{/if}}

  {{#if success}}
    <p class="mt-4 text-green-500 text-sm">Enlace de recuperación generado copielo:</p>
    <h2
      href="{{success}}"
      target="_blank"
      class="text-blue-500 hover:underline break-words"
    >
      {{success}}
    </h2>
  {{/if}}
</form>
