<div class="max-w-7xl mx-auto p-6">

<!-- Tabla de reservaciones  -->

  <section id="tableSection" class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200 shadow-lg rounded-xl overflow-hidden">
      <thead class="bg-blue-800 text-white text-sm uppercase">
        <tr>
          <th class="py-3 px-4 text-left">Nombe del cliente</th>
          <th class="py-3 px-4 text-left">numero de habitacion</th>
          <th class="py-3 px-4 text-left">Fecha de Reserva</th>
          <th class="py-3 px-4 text-left">Fecha de Ingreso</th>
          <th class="py-3 px-4 text-left">Fecha de Salida</th>
          <th class="py-3 px-4 text-left">Monto</th>
          <th class="py-3 px-4 text-center">Acciones</th>
        </tr>
      </thead>

       <tbody class="text-gray-700 divide-y divide-gray-200">
        <tr class="hover:bg-gray-50 transition">
          <td class="py-3 px-4 capitalize">manuel</td>
          <td class="py-3 px-4 capitalize">101</td>
          <td class="py-3 px-4 capitalize">12/07/2025</td>
          <td class="py-3 px-4 capitalize">12/15/2025</td>
          <td class="py-3 px-4 capitalize">12/16/2025</td>
          <td class="py-3 px-4 capitalize">1500</td>
          <td class="py-3 px-4 capitalize">
               <a href="/rooms/editar/{{this.id}}"
                 class="px-3 py-1 bg-yellow-500 hover:bg-yellow-600 text-white text-sm rounded-lg shadow-sm transition">
                 Editar reservación
              </a>

               <a href="/rooms/eliminar/{{this.id}}"
                 class="px-3 py-1 bg-red-600 hover:bg-red-700 text-white text-sm rounded-lg shadow-sm transition"
                 onclick="return confirm('¿Eliminar habitación {{this.numero}}?')">
                 Eliminar
              </a>
          </td>
       </tbody>
        </section>
</div>
