<div class="max-w-7xl mx-auto p-6">
  <!-- Header -->
  <header class="mb-6 text-center">
    <h1 class="text-3xl font-extrabold text-blue-900 tracking-tight">Modificar los precios de las habitaciones</h1>

  <p>Aquí se mostrarán los precios para Modificar de las habitaciones (senillas y suites)

  </header>
