  {{>navbar}}
<div class="max-w-7xl mx-auto p-20">
   {{>buttons}}
 <!-- Header -->
  <header class="mb-6 text-center">
    <h1 class="text-3xl font-extrabold text-blue-900 tracking-tight">Reportes de Rentas</h1>

  <p>Aquí se mostrarán los reportes de rentas próximamente.

  </header>
   </div>
